body {
  font-family: "Verdana", sans-serif;
  text-align: center;
  background-color: #000;
}
h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;

}
h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}
h3{
  font-size: 21px;
  color: gray;
}
.download {
  color: Aquamarine;
  font-size: 16px;
}
.copyright {
  text-align: right;
  color: gray;
}
